---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$paragraph-font-family: "Crimson Text", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$heading-font-weight: 900;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$color1: #4db6ac;
$color2: #d66969;

$spacing-unit:     75px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$dark-color: #26292e;

$light-text-color: #fafafa;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%); 
$grey-color-dark:  darken($grey-color, 25%); // Width of the content area
$dominant-color: #6194DF;
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@include media-query($on-palm) {
  .narrow {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .narrow {
    width: 90%;
  }
  .page-banner {
    text-align: center;
  }

  #banner1 h1 {
    margin-top: 1em;
  }

  .page-banner hr {
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

@media (min-width: 641px) {
  .narrow {
    width: 40%;
  }
  .page-banner {
    //padding-left: 5em;
    //padding-right: 5em;
  }
  .page-banner #banner-img {
    float: right;
  }

}

@media (min-width: 1300px) {
  .page-banner {
    //padding-left: 20em;
    //padding-right: 20em;
  }
  .page-banner #banner-img {
    float: right;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
}

.page-banner {
  background-size: cover;
  //text-align: center;
  color: white;
  height: 100vh;
  padding-top: 2em;
  background-attachment: fixed;
}

.page-banner i {
  font-size: 1.3em;
  color: #bfb9b9;
  font-weight: 900;
}

.page-banner hr {
  width: 30%;
  border: solid 1px red;
  margin-top: -1em;
}

#banner1 {
  //background-image: url('../images/banner.jpg');
  background: $color1;
  background-image: url('https://screenshot.codepen.io/12341.LveDx.147d32dc-b16e-4e9e-a30c-d142983b13f8.png');
  background-size: cover;
}

#banner-img {
  box-shadow: 5px 5px 20px #482e25;
}

#banner1 h1 {
  font-size: 3em;
  font-weight: 100;
}
#banner1 .subtitle {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -3em;
}

#banner1 .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#banner1 p {
  color: white;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 100;
}

#banner2 {
  background-image: url('../images/roche.jpg');
}

.vertical-align {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.round {
  border-radius: 50%;
}

.center {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

.padded {
  padding: 2em;
  height: 50vh;
}

.center-text {
  text-align: center;
}

.bg-lightgrey {
  background: #efefef;
}

.horizontal-list li {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

form input, form textarea {
  background: #efefef;
  border: 0;
  padding: .5em;
  margin-bottom: 1em;
  font-size: 20px;
  display: block;
}

.fullwidth {
  width: 100%;
  max-width: 100%;
}

.dominant {
  background: $dominant-color;
  color: white;
}

.light {
  color: $light-text-color;
}

.button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 5px;
  cursor: pointer;
}

.btn i {
  margin-right: .5em;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#map {
  height: 400px;
}

.left-align {
  margin-left: 0;
  text-align: left;
}

.site-nav {
  font-weight: bold;
}

.top-color1 {
  border-top: solid 5px $color1;
}
.top-color2 {
  border-top: solid 5px $color2;
}
.top-color3 {
  border-top: solid 5px $dark-color;
}
