* {
  font-family: helvetica;
  
}

body {
  width: 100%;
  background-color: #4F8DC0;
  overflow-x: hidden;
}

p, li {
  text-align: justify;
  font-size: 1.2em;
  color: #616161;
}

.wrapper {
  width: 70%;
  background-color: white;
  margin: 0 auto;
  padding: 5%;
  margin-top: 2%;
}

.footer {
  font-size: 3.5em;
  text-align: center;
  color: white;
}

.footer a {
  color: white;
}

.wrapper a {
  text-decoration: none;
  color: #71ABE4;
}

h2 {
  font-size: 2.5em;
}


