* {
  font-family: helvetica;
  color: grey;
}

body {
  width: 100%;
  background-color: #4F8DC0;
}

p {
  text-align: justify;
  font-size: 1.2em;
}

.wrapper {
  width: 70%;
  background-color: white;
  margin: 0 auto;
  padding: 5%;
}

footer {
  font-size: 1.5em;
  text-align: center;
}




