* {
  font-family: helvetica;
  color: grey;
}

body {
  width: 100%;
  background-color: ;
}

p {
  text-align: justify;
  font-size: 1.2em;
}

.wrapper {
  width: 90%;
  background-color: white;
  margin: 0 auto;
}




