<DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-banner">
      <div class='vertical-align'>
        <h1>Ed Prince</h1>
        <h2 class="subtitle">Mountaineer & Web Developer
      </div>
    </div>
    <div class="page-content padded bg-lightgrey">
      <p class="center vertical-align narrow">
          When I'm not developing for <a href='https://ukclimbing.com'>UKClimbing</a>, I'll mostly 
          be found somewhere up a mountain, playing the guitar or piano. I'm currently studying for
          a degree in Computer Science at Coventry University, taking charge of the Mountaineering
          club in 2016/2017.
      </p>
    </div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
