<DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="banner1" class="page-banner">
      <div class='vertical-align'>
        <h1 class="light">Ed Prince</h1>
        <p class="subtitle light">Web Developer</p>
        <a href="https://github.com/edprince" class='btn btn-primary'><i class='icon-large fa fa-github'></i>Github</a>
        <a href="https://stackoverflow.com/users/story/3083259" class='btn btn-primary'><i class='icon-large fa fa-stack-overflow'></i>Resume</a>
      </div>
    </div>
    <div class="page-content bg-lightgrey">
      <div class="wrapper">
        <div class="row">
          <h2>
            <i class='fa fa-feather'></i> Light 
          </h2>
          <p>I create lightweight, efficient websites, with fast load times and snappy user experience. This site was build using <a href="https://edprince.github.io/pebble">Pebble CSS Framework</a>, my custom built framework.</p>
          <h2>
            <i class='fa fa-mobile'></i> Responsive. 
          </h2>
          <p>With the ever-increasing mobile traffic, it is essential to design sites that work on any device. Try loading this page on a mobile. Or better - shrink this window. The site still looks great.</p>
          <h2 class="">
            <i class='fa fa-cog'></i> Custom.
          </h2>
          <p>Take as little or as large a role as you wish in the design process - I'll work from templates, or design the site from the ground up.</p>
        </div>
      </div>
    </div>

    <!--
    <div class="page-content">
      <div class="wrapper">
        <div class="row">
          <h2>Pricing</h2>
          <div class="col-4">
            <div class="card top-color1">
              <h3>Feasibility</h3>
              <h1><small style="font-size: .5em">£</small>99</h1>
              <p>I will conduct a feasibility study on your site, determining the scope and achievability of the project</p>
              <button class="btn btn-primary">Learn More</button>
            </div>
          </div>
          <div class="col-4">
            <div class="card top-color2">
              <h3>Static</h3>
              <h1><small style="font-size: .5em">£</small>350</h1>
              <p>You get a simple website, either designed for you, with you, or based fully on your design, along with
              easy methods of updating content</p>
              <button class="btn btn-primary">Learn More</button>
            </div>
          </div>
          <div class="col-4">
            <div class="card top-color3">
              <h3>Complex Web App</h3>
              <h1><small style="font-size: .5em">£</small>2500</h1>
              <p>You get a sophistocated web app</p>
              <button class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
-->

    <div class="page-content">
      <div class="wrapper">
        <div class="row">
          <h2>Technologies</h2>
        </div>
      </div>
      <div class="wrapper index-grid">
        <div class="row">
            <img  src="../images/homepage/js.png" />
            <img src="../images/homepage/html.png" />
            <img src="../images/homepage/css.png" />
            <img  src="../images/homepage/firebase.png" />
            <img src="../images/homepage/github.png" />
            <img src="../images/homepage/jekyll.svg" />
            <img src="../images/homepage/npm.png" />
            <img src="../images/homepage/webpack.png" />
            <img src="../images/homepage/leaflet.png" />
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
